@model Issue_tracker_webapp.Models.issueViewModel
<br />
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="issues" method="post" asp-action="post" asp-route-id="@Model.projectID" class="d-inline">
            <input asp-for="@Model.projectID" type="hidden" />
            <input asp-for="@Model.issueTitle"  />
            <input asp-for="@Model.issueDescription"  />
            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn bg-primary">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>